.square {
	border-radius: 0px;
}

.jumbotron {
	background-image: linear-gradient(to right, #007bff, #000);
	color: #fff;
}

/* * {
	border: dashed 1px blue;
} */

.ant-select-selector {
	background-image: linear-gradient(#99cccc, #99cccc), linear-gradient(#99cccc, #99cccc);
	background-clip: content-box, padding-box;
}
/* 
http://jsfiddle.net/ilancopelyn/n1ax4qvt/
*/
